/* general */
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }


  .grey {
    background-color: #f9f9f9;
  }

  .white {
    background-color: white;
  }

  .dark-blue {
    background-color: rgb(15, 51, 90);
  }

/* fixed */
  .fixed {
    position: fixed;
    right: 15%;
    bottom: 0;
    background-color: rgb(123, 188, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px 10px;
    text-decoration: none;
    color: white;
    font-size: 11px;
  }

/* header */
  header {
    background-color: rgb(23, 64, 107);
  }

/* barra header */
  .barra-header {
    padding: 20px 6%;
  }
  .barra-header::after {
    content: "";
    display: table;
    clear: both;
  }

/* logo */
  .logo {
    float: left;
    margin: auto 30px;
    height: 42px;
  }

/* menu header */
  .menu-header {
    float: left;
    list-style-type: none;
    height: 42px;
    text-transform: uppercase;
  }

  .menu-header::after {
    content: "";
    display: table;
    clear: both;
  }

  .menu-header li {
    float: left;
    padding: 20px 20px 0 20px;
    height: 42px;
  }

  .menu-header a {
    text-decoration: none;
    color: white;
    font-size: 11px;
    display: inline-block;
    font-weight: 700;
  }

  .menu-header a:hover {
    color: orange;
  }

/* form-header */
  .form-header {
    float: right;
    height: 42px;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 15px;
  }

  .form-header::after {
    content: "";
    display: table;
    clear: both;
  }

  .tutor {
    float: left;
    color: rgba(255,255,255,.5);
    line-height: 30px;
    margin-right: 9px;
  }

  .login {
    float: left;
    border: 1px solid #4e8cb6;
    border-radius: 5px;
    padding: 8px 25px;
    font-weight: 700;
    margin-right: 9px;
  }

  .piano {
    float: left;
    background-color: #7fb802;
    font-weight: bolder;
    border-radius: 5px;
    padding: 8px 10px;
    margin-right: 9px;
  }

  .form-header .login a,
  .form-header .piano a {
    text-decoration: none;
    color: white;
  }

  /* usare float e creare div con le scritte */
  .presentazione {
    height: 420px;
    background-image: url("../img/oldman.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 620px 25px;
    position: relative;
  }

  .scegli {
    font-size: 47px;
    color: white;
    position: absolute;
    top: 100px;
    left: 110px;
    width: 50%;
  }

  .struttura {
    position: absolute;
    top: 250px;
    left: 110px;
  }

  .struttura a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #7fb802;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 11px;
  }

/* sections */

  /* first grey */
    .grey.primo {
      height: 155px;
      text-align: center;
      position: relative;
    }

    .grey.primo .testo-centrato {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .grey.primo h4 {
      color: rgb(55, 58, 60);
      font-size: 24px;
      font-weight: 100;
      margin-bottom: 10px;
    }

    .grey.primo p {
      font-size: 18px;
      font-weight: 300;
      color: #999;
      width: 700px;
    }

  /* first white */
    .white.first {
      height: 505px;
      padding-left: 110px;
      padding-right: 110px;
      padding-top: 30px;
    }

    .white.first::after {
      content: "";
      display: table;
      clear: both;
    }

    .column {
      float: left;
      width: 30%;
      text-align: center;
    }

    .column.two {
      margin: 0 5%;
    }

    .one .img-column {
      height: 160px;
      margin-bottom: 50px;
    }

    .two .img-column {
      height: 143px;
      margin-bottom: 68px;
    }

    .three .img-column {
      height: 152px;
      margin-bottom: 60px;
    }

    .column h3 {
      color: #7fb802;
      font-size: 23px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .column.two h3 {
      margin-bottom: 47px;
    }

    .hr-column {
      width: 10%;
      border-top: 2px solid rgba(9, 9, 9, 0.2);
      margin-bottom: 20px;
    }

    .column p {
      color: #999;
      font-size: 15px;
      font-weight: 300;
      line-height: 25px;
    }

  /* second white */
    .white.second {
      height: 493px;
      background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/mountain.svg?v15");
      background-size: 380px;
      background-position: 20% 60%;
      background-repeat: no-repeat;
    }

    .white.second:after {
      content: "";
      display: table;
      clear: both;
    }

    .liv-iniziale {
      float: right;
      width: 27%;
      margin: 10% 15%;
    }

    .liv-iniziale h2 {
      line-height: 40px;
      color: rgb(74, 74, 74);
      font-weight: 500;
    }

    .liv-iniziale p {
      margin: 20px 0;
      color: #999;
    }

    .liv-iniziale a {
      color: #98c8f8;
    }



  /* HR */
  hr {
    width: 95%;
    margin: auto;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }

  /* second grey */
  .grey.second {
    height: 133px;
  }

  .grey.second:after {
    content: "";
    display: table;
    clear: both;
  }

  .grey.second h2 {
    float: left;
    margin: 0 10%;
    line-height: 133px;
    color: rgb(74, 74, 74);
    font-weight: 500;
  }

  .grey.second .form {
    float: right;
    margin: 3% 10%;
  }

  .grey.second .form:after {
    content: "";
    display: table;
    clear: both;
  }

  .grey.second .form h3 {
    float: left;
    color: rgb(178, 178, 178);
    margin-right: 60px;
    font-size: 26px;
    font-weight: 500;
  }

  .input-line {
    width: 240px;
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 22px;
    color: rgb(178, 178, 178);
    padding-left: 10px;
    margin-right: 5px;
  }

  .grey.second .form form {
    float: left;
  }

  .grey.second .form a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(127, 184, 2);
    border-radius: 5px;
  }


  /* second blue */
  .dark-blue.second {
    height: 500px;
    background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/onetoone_session_pc.png?v15");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 80% 100%;
  }

  .dark-blue.second:after {
    content: "";
    display: table;
    clear: both;
  }

  .dark-blue.second .lezioni {
    float: left;
    margin: 10% 15%;
    width: 25%;
  }

  .dark-blue.second .lezioni h2 {
    color: white;
  }

  .dark-blue.second .lezioni span {
    color:orange;
  }

  .dark-blue.second .lezioni p {
    color: rgba(#b3b3b3, 0.4);
    margin: 20px 0;
    line-height: 25px;
  }

  .dark-blue.second .lezioni a {
    color: #98c8f8;
    text-decoration: underline;
  }

  /* third white */
  .white.third {
    height: 529px;
    background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/shakehands.svg?v15");
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: 25% 40%;
  }

  .white.third:after {
    content: "";
    display: table;
    clear: both;
  }

  .white.third .truly-need {
    float:right;
    width: 29%;
    margin: 7% 16%;
  }

  .white.third .truly-need h2 {
    color: rgb(74, 74, 74);
    font-weight: 500;
  }

  .white.third .truly-need p {
    margin: 40px 0;
    color: #999;
  }

  .white.third .truly-need .real-life:after {
    content: "";
    display: table;
    clear: both;
  }

  .white.third .truly-need a {
    float: left;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #7fb802;
    padding: 13px 8px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 11px;
  }

  .white.third .truly-need span {
    float: left;
    color: #98c8f8;
    display: block;
    width: 160px;
    text-align: center;
    font-size: 11px;
    margin: 0 5%;
  }

  /* fourth white */
  .white.fourth {
    position: relative;
    height: 565px;
  }

  .white.fourth .dispositivi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36%;
    text-align: center;
  }


  .white.fourth .dispositivi h2 {
    color: rgb(74, 74, 74);
    font-weight: 500;
    margin: 12px 0;
  }

  .white.fourth .dispositivi p {
    margin: 12px 0;
    color: #999;
  }

  #ppiccolo {
    font-size: 11px;
  }

  .white.fourth .dispositivi a {
    text-decoration: underline;
    color: #98c8f8;
  }

  /* third dark-blue */
  .dark-blue.third {
    height: 500px;
    background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/talking.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 66%;
    padding-right: 10%;
  }

  .dark-blue.third:after {
    content: "";
    display: table;
    clear: both;
  }

  .dark-blue.third .azienda {
    float: left;
    margin: 10% 15%;
    width: 30%;
  }

  .dark-blue.third .azienda h2 {
    color: white;
  }

  .dark-blue.third .azienda p {
    color: rgba(#b3b3b3, 0.4);
    margin: 20px 0;
    line-height: 25px;
  }

  .dark-blue.third .azienda a {
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    background-color:#7fb802;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }

  /* fifth white */
  .white.fifth {
    height: 535px;
  }

  .white.fifth:after {
    content: "";
    display: table;
    clear: both;
  }

  .piani {
    float: left;
    width: 18%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .white.fifth h2 {
    text-align: center;
    color: rgb(74, 74, 74);
    font-weight: 500;
    margin: 60px;
  }

  .icone:after {
    content: "";
    display: table;
    clear: both;
  }

  .icone {
    margin-bottom: 25px;
  }

  .piani.studente {
    margin-left: 23%;
  }

  .piani img {
    float: left;
    height: 33px;
  }

  .piani h4 {
    color: rgb(74, 74, 74);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .piani p {
    color: #999;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .hr-piani {
    border: 2px solid;
    width: 100%;
    margin-bottom: 20px;
  }

  .piani a {
    text-decoration: underline;
  }

  .studente .hr-piani,
  .studente a {
    color: rgb(152, 200, 248);
  }

  .professionista .hr-piani,
  .professionista a {
    color: rgb(248, 183, 28);
  }

  .aziendale .hr-piani,
  .aziendale a {
    color: rgb(127, 184, 2);
  }


/* footer */

  /* darkblue */
    footer .dark-blue {
      box-sizing: border-box;
      height: 135px;
      padding: 0 110px;
      position: relative;
      color: white;
    }

    .faq {
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
    }

    .dark-blue h2 {
      margin-bottom: 5px;
      font-weight: 100;
    }

    .dark-blue a {
      text-decoration: none;
      color:orange ;
    }

    .dark-blue a:hover {
      text-decoration: underline;
    }

    .dark-blue p {
      color: rgba(255,255,255,.5);
    }

  /* footer final */
    footer .final{
    background-color: rgb(23, 64, 107);
    height: 397px;
  }

  .final:after {
    content: "";
    display: table;
    clear: both;
  }

    .menu.footer {
      float: left;
      color: rgba(255,255,255,.5);
      margin: 5% 10%;
    }

    footer h5 {
      color: #fff;
      font-size: 12px;
      font-weight: bold;
    }

    .footer ul{
      list-style-type: none;
    }

    .footer ul li {
      margin-top: 24px;
    }

    .footer ul li a {
      color:rgba(255,255,255,.5);
      text-decoration: none;
    }

    .footer ul li a:hover {
      text-decoration: underline;
    }

    .dati-azienda {
      float: right;
      margin: 7% 22%;
      list-style-type: none;
      text-align: right;
      width: 25%;
    }

    .dati-azienda .strong {
      font-size: 18px;
      color: white;
      font-weight: bolder;
      margin-bottom: 30px;
    }

    .dati-azienda .address {
      color:rgba(255,255,255,.5);
      line-height: 28px;
    }

    /* usare float!!!!!! */
