/* general */
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .blue {
    background-color: rgb(23, 64, 107);
  }

  .grey {
    background-color: #f9f9f9;
  }

  .white {
    background-color: white;
  }

  .dark-blue {
    background-color: rgb(15, 51, 90);
  }

/* header */
  header {
    background-color: rgb(23, 64, 107);
    /* padding: 20px 6%; */
  }

/* barra header */
  .barra-header {
    padding: 20px 6%;
  }
  .barra-header::after {
    content: "";
    display: table;
    clear: both;
  }

/* logo */
  .logo {
    float: left;
    margin: auto 30px;
    height: 42px;
  }

/* menu header */
  .menu-header {
    float: left;
    list-style-type: none;
    height: 42px;
    text-transform: uppercase;
  }

  .menu-header::after {
    content: "";
    display: table;
    clear: both;
  }

  .menu-header li {
    float: left;
    padding: 20px 20px 0 20px;
    height: 42px;
  }

  .menu-header a {
    text-decoration: none;
    color: white;
    font-size: 11px;
    display: inline-block;
    font-weight: 700;
  }

  .menu-header a:hover {
    color: orange;
  }

/* form-header */
  .form-header {
    float: left;
    height: 42px;
    margin-left: 80px;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 15px;
  }

  .form-header::after {
    content: "";
    display: table;
    clear: both;
  }

  .tutor {
    float: left;
    color: rgba(255,255,255,.5);
    line-height: 30px;
    margin-right: 9px;
  }

  .login {
    float: left;
    border: 1px solid #4e8cb6;
    border-radius: 5px;
    padding: 8px 25px;
    font-weight: 700;
    margin-right: 9px;
  }

  .piano {
    float: left;
    background-color: #7fb802;
    font-weight: bolder;
    border-radius: 5px;
    padding: 8px 10px;
    margin-right: 9px;
  }

  .form-header .login a,
  .form-header .piano a {
    text-decoration: none;
    color: white;
  }

  .presentazione {
    padding: 0;
    height: 420px;
    background-image: url("../img/oldman.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 620px 25px;
    position: relative;
  }

  .scegli {
    font-size: 47px;
    color: white;
    position: absolute;
    top: 100px;
    left: 110px;
    width: 50%;
  }

  .struttura {
    position: absolute;
    top: 250px;
    left: 110px;
  }

  .struttura a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #7fb802;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 11px;
  }

/* sections */

  /* first grey */
    .grey.primo {
      height: 155px;
      text-align: center;
      position: relative;
    }

    .grey.primo .testo-centrato {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .grey.primo h4 {
      color: rgb(55, 58, 60);
      font-size: 24px;
      font-weight: 100;
      margin-bottom: 10px;
    }

    .grey.primo p {
      font-size: 18px;
      font-weight: 300;
      color: #999;
      width: 700px;
    }

  /* first white */
    .white.first {
      height: 505px;
    }

  /* second white */
    .white.second {
      height: 493px;
    }

  /* HR */
  hr {
    width: 95%;
    margin: auto;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }

  /* second grey */
  .grey.second {
    height: 133px;
  }

  /* second blue */
  .blue.second {
    height: 500px;
  }

  /* third white */
  .white.third {
    height: 529px;
  }

  /* fourth white */
  .white.fourth {
    height: 565.39px;
  }

  /* third blue */
  .blue.third {
    height: 500px;
  }

  /* fifth white */
  .white.fifth {
    height: 535px;
  }

  /* darkblue */
  .dark-blue {
    box-sizing: border-box;
    height: 135px;
    padding: 0 110px;
    position: relative;
    color: white;
  }

  .faq {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
  }

  .dark-blue h2 {
    margin-bottom: 5px;
    font-weight: 100;
  }

  .dark-blue a {
    text-decoration: none;
    color:orange ;
  }

  .dark-blue a:hover {
    text-decoration: underline;
  }

  .dark-blue p {
    color: rgba(255,255,255,.5);
  }

/* footer */
    footer {
    background-color: rgb(23, 64, 107);
    height: 397px;
    position: relative;
    padding: 110px;
  }

    .menu.footer {
      position: absolute;
      top:50%;
      transform: translate(0,-50%);
      color: rgba(255,255,255,.5);
    }

    footer h5 {
      color: #fff;
      font-size: 12px;
      font-weight: bold;
    }

    .footer ul{
      list-style-type: none;
    }

    .footer ul li {
      margin-top: 24px;
    }

    .footer ul li a {
      color:rgba(255,255,255,.5);
      text-decoration: none;
    }

    .footer ul li a:hover {
      text-decoration: underline;
    }

    .dati-azienda {
      position: absolute;
      top: 45%;
      right: 23%;
      transform: translate(0,-50%);
      list-style-type: none;
      text-align: right;
      width: 25%;
    }

    .dati-azienda .strong {
      font-size: 18px;
      color: white;
      font-weight: bolder;
      margin-bottom: 30px;
    }

    .dati-azienda .address {
      color:rgba(255,255,255,.5);
      line-height: 28px;
    }
